In [1]:
import dataset

In [5]:
df = dataset.load_dataset("../dataset/Training_set_label.csv")
display(df.shape, df.head())

(48260, 11)

,agency,agency_type,distribution_channel,product_name,duration,destination,net_sales,commision_(in_value),gender,age,claim
0,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,61,UNITED KINGDOM,19.8,11.88,NaN,29,0
1,EPX,Travel Agency,Online,Cancellation Plan,93,NEW ZEALAND,63.0,0.00,NaN,36,0
2,EPX,Travel Agency,Online,2 way Comprehensive Plan,22,UNITED STATES,22.0,0.00,NaN,25,0
3,C2B,Airlines,Online,Silver Plan,14,SINGAPORE,54.5,13.63,M,24,0
4,EPX,Travel Agency,Online,Cancellation Plan,90,VIET NAM,10.0,0.00,NaN,23,0

In [8]:
dataset.missing_values(df)

,variable,no_unique,pandas_dtype,missing_value,%_missing_values,unique_value
0,agency,16,object,0,0.000000,"[CWT, EPX, C2B, JZI, TST, ART, RAB, SSI, JWT, ..."
1,agency_type,2,object,0,0.000000,"[Travel Agency, Airlines]"
2,distribution_channel,2,object,0,0.000000,"[Online, Offline]"
3,product_name,26,object,0,0.000000,"[Rental Vehicle Excess Insurance, Cancellation..."
4,duration,442,int64,0,0.000000,"[61, 93, 22, 14, 90, 36, 13, 4, 95, 30, 8, 49,..."
5,destination,141,object,0,0.000000,"[UNITED KINGDOM, NEW ZEALAND, UNITED STATES, S..."
6,net_sales,1005,float64,0,0.000000,"[19.8, 63.0, 22.0, 54.5, 10.0, 47.0, 25.0, 27...."
7,commision_(in_value),922,float64,0,0.000000,"[11.88, 0.0, 13.63, 7.7, 5.94, 17.82, 10.5, 6...."
8,gender,2,object,34361,71.199751,"[nan, M, F]"
9,age,88,int64,0,0.000000,"[29, 36, 25, 24, 23, 35, 56, 21, 26, 30, 53, 5..."
10,claim,2,int64,0,0.000000,"[0, 1]"